In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
from dotenv import load_dotenv
load_dotenv()

True

# Agrupamento dos dados do ENEM

In [3]:
year = '2021'

In [4]:
df_enem = pd.read_csv(os.getenv('PATH_TO_RAW_DATA')+'MICRODADOS_ENEM_'+year+'.csv', encoding = "ISO-8859-1", delimiter=';')
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [5]:
df_enem.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [6]:
df_enem = df_enem[['NU_INSCRICAO', 'NU_ANO','TP_COR_RACA','TP_ESCOLA', 'TP_ENSINO','SG_UF_ESC','NO_MUNICIPIO_ESC','TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO','Q001', 'Q002','Q006','Q025']]
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,SG_UF_ESC,NO_MUNICIPIO_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025
0,210053865474,2021,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,574.6,472.6,NaN,760.0,F,F,D,B
1,210052384164,2021,1,1,NaN,NaN,NaN,NaN,NaN,NaN,505.9,551.8,498.3,461.5,560.0,B,B,B,A
2,210052589243,2021,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,C,C,B
3,210052128335,2021,3,2,1.0,CE,Crato,2.0,1.0,1.0,580.7,678.9,638.9,659.5,780.0,B,B,B,B
4,210051353021,2021,3,2,1.0,CE,RedenÃ§Ã£o,2.0,1.0,1.0,497.7,532.4,457.6,582.6,780.0,D,E,C,B

In [7]:
df_enem = df_enem.rename(columns={'Q001': 'ESCOLARIDADE_PAI', 'Q002': 'ESCOLARIDADE_MAE', 'Q006': 'RENDA_MENSAL', 'Q025': 'INTERNET'})

In [8]:
replace_TP_COR_RACA = {0: 'nao_declarado',
                     1: 'branca',
                     2: 'preta',
                     3: 'parda',
                     4: 'amarela',
                     5: 'indigena',
                     6: 'nao_dispoe_informacao'}

df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace(replace_TP_COR_RACA)

In [9]:
replace_TP_ESCOLA = {1: 'nao_respondeu',
                     2: 'publica',
                     3: 'privada'}

df_enem['TP_ESCOLA'] = df_enem['TP_ESCOLA'].replace(replace_TP_ESCOLA)

In [10]:
replace_TP_ENSINO = {1: 'ensino_regular',
                     2: 'educacao_especial'}

df_enem['TP_ENSINO'] = df_enem['TP_ENSINO'].replace(replace_TP_ENSINO)

In [11]:
replace_TP_DEPENDENCIA_ADM_ESC = {1: 'federal',
                                  2: 'estadual',
                                  3: 'municipal',
                                  4: 'privada'}

df_enem['TP_DEPENDENCIA_ADM_ESC'] = df_enem['TP_DEPENDENCIA_ADM_ESC'].replace(replace_TP_DEPENDENCIA_ADM_ESC)

In [12]:
replace_TP_LOCALIZACAO_ESC = {1: 'urbana',
                              2: 'rural'}

df_enem['TP_LOCALIZACAO_ESC'] = df_enem['TP_LOCALIZACAO_ESC'].replace(replace_TP_LOCALIZACAO_ESC)

In [13]:
replace_TP_SIT_FUNC_ESC = {1: 'em_atividade',
                           2: 'paralisada',
                           3: 'extinta',
                           4: 'extinta_em_anos_anteriores'}

df_enem['TP_SIT_FUNC_ESC'] = df_enem['TP_SIT_FUNC_ESC'].replace(replace_TP_SIT_FUNC_ESC)

In [14]:
replace_INTERNET = {'A': 'nao',
                    'B': 'sim'}

df_enem['INTERNET'] = df_enem['INTERNET'].replace(replace_INTERNET)

In [15]:
df_enem = pd.get_dummies(df_enem, columns=['TP_COR_RACA','TP_ESCOLA','TP_ENSINO','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC','ESCOLARIDADE_PAI','ESCOLARIDADE_MAE','RENDA_MENSAL','INTERNET'])

In [16]:
agg_methods = {'NU_NOTA_CN': 'mean',
                'NU_NOTA_CH': 'mean',
                'NU_NOTA_LC': 'mean',
                'NU_NOTA_MT': 'mean',
                'NU_NOTA_REDACAO': 'mean',
                'TP_COR_RACA_nao_declarado': 'sum',
                'TP_COR_RACA_branca': 'sum',
                'TP_COR_RACA_preta': 'sum',
                'TP_COR_RACA_parda': 'sum',
                'TP_COR_RACA_amarela': 'sum',
                'TP_COR_RACA_indigena': 'sum',
                'TP_ESCOLA_nao_respondeu': 'sum',
                'TP_ESCOLA_publica': 'sum',
                'TP_ESCOLA_privada':'sum',
                'TP_ENSINO_ensino_regular':'sum',
                'TP_ENSINO_educacao_especial':'sum',
                'TP_DEPENDENCIA_ADM_ESC_federal':'sum',
                'TP_DEPENDENCIA_ADM_ESC_estadual':'sum',
                'TP_DEPENDENCIA_ADM_ESC_municipal':'sum',
                'TP_DEPENDENCIA_ADM_ESC_privada':'sum',
                'TP_LOCALIZACAO_ESC_urbana':'sum',
                'TP_LOCALIZACAO_ESC_rural':'sum',
                'TP_SIT_FUNC_ESC_em_atividade':'sum',
                'TP_SIT_FUNC_ESC_paralisada':'sum',
                'TP_SIT_FUNC_ESC_extinta':'sum',
                'TP_SIT_FUNC_ESC_extinta_em_anos_anteriores':'sum',
                'ESCOLARIDADE_PAI_A':'sum',
                'ESCOLARIDADE_PAI_B':'sum',
                'ESCOLARIDADE_PAI_C':'sum',
                'ESCOLARIDADE_PAI_D':'sum',
                'ESCOLARIDADE_PAI_E':'sum',
                'ESCOLARIDADE_PAI_F':'sum',
                'ESCOLARIDADE_PAI_G':'sum',
                'ESCOLARIDADE_PAI_H':'sum',
                'ESCOLARIDADE_MAE_A':'sum',
                'ESCOLARIDADE_MAE_B':'sum',
                'ESCOLARIDADE_MAE_C':'sum',
                'ESCOLARIDADE_MAE_D':'sum',
                'ESCOLARIDADE_MAE_E':'sum',
                'ESCOLARIDADE_MAE_F':'sum',
                'ESCOLARIDADE_MAE_G':'sum',
                'ESCOLARIDADE_MAE_H':'sum',
                'RENDA_MENSAL_A':'sum',
                'RENDA_MENSAL_B':'sum',
                'RENDA_MENSAL_C':'sum',
                'RENDA_MENSAL_D':'sum',
                'RENDA_MENSAL_E':'sum',
                'RENDA_MENSAL_F':'sum',
                'RENDA_MENSAL_G':'sum',
                'RENDA_MENSAL_H':'sum',
                'RENDA_MENSAL_I':'sum',
                'RENDA_MENSAL_J':'sum',
                'RENDA_MENSAL_K':'sum',
                'RENDA_MENSAL_L':'sum',
                'RENDA_MENSAL_M':'sum',
                'RENDA_MENSAL_N':'sum',
                'RENDA_MENSAL_O':'sum',
                'RENDA_MENSAL_P':'sum',
                'RENDA_MENSAL_Q':'sum',
                'INTERNET_nao':'sum',
                'INTERNET_sim':'sum'
                }

df_enem = df_enem.groupby(["NU_ANO", "SG_UF_ESC", "NO_MUNICIPIO_ESC"]).agg(agg_methods).reset_index()

In [17]:
df_enem.to_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'enem_grouped_'+year+'.csv', index=False)

# JunÃ§Ã£o dos dados do Enem com os dados das Metas

In [19]:
df_enem_2019 = pd.read_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'enem_grouped_2019.csv')
df_enem_2020 = pd.read_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'enem_grouped_2020.csv')
df_enem_2021 = pd.read_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'enem_grouped_2021.csv')

In [20]:
df_enem = pd.concat([df_enem_2019,df_enem_2020,df_enem_2021], axis=0, ignore_index=True)
df_enem.head()

,NU_ANO,SG_UF_ESC,NO_MUNICIPIO_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_COR_RACA_nao_declarado,TP_COR_RACA_branca,...,RENDA_MENSAL_J,RENDA_MENSAL_K,RENDA_MENSAL_L,RENDA_MENSAL_M,RENDA_MENSAL_N,RENDA_MENSAL_O,RENDA_MENSAL_P,RENDA_MENSAL_Q,INTERNET_nao,INTERNET_sim
0,2019,AC,AcrelÃ¢ndia,430.226316,476.341026,480.817949,468.768421,488.717949,4,11,...,0,0,0,0,0,0,0,0,31,15
1,2019,AC,Assis Brasil,413.914286,455.791304,482.465217,484.385714,513.043478,0,3,...,0,0,0,0,0,0,0,0,16,8
2,2019,AC,BrasilÃ©ia,442.619231,482.673913,502.240217,480.357692,511.086957,2,18,...,1,1,1,0,0,1,0,0,50,64
3,2019,AC,Bujari,434.634146,465.619565,482.754348,466.512195,480.000000,2,10,...,0,0,0,0,0,0,0,0,35,14
4,2019,AC,Capixaba,432.061667,459.746875,475.045313,467.070000,545.000000,2,11,...,0,0,0,0,0,0,0,0,54,21

In [21]:
df_enem.columns

Index(['NU_ANO', 'SG_UF_ESC', 'NO_MUNICIPIO_ESC', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO',
       'TP_COR_RACA_nao_declarado', 'TP_COR_RACA_branca', 'TP_COR_RACA_preta',
       'TP_COR_RACA_parda', 'TP_COR_RACA_amarela', 'TP_COR_RACA_indigena',
       'TP_ESCOLA_nao_respondeu', 'TP_ESCOLA_publica', 'TP_ESCOLA_privada',
       'TP_ENSINO_ensino_regular', 'TP_ENSINO_educacao_especial',
       'TP_DEPENDENCIA_ADM_ESC_federal', 'TP_DEPENDENCIA_ADM_ESC_estadual',
       'TP_DEPENDENCIA_ADM_ESC_municipal', 'TP_DEPENDENCIA_ADM_ESC_privada',
       'TP_LOCALIZACAO_ESC_urbana', 'TP_LOCALIZACAO_ESC_rural',
       'TP_SIT_FUNC_ESC_em_atividade', 'TP_SIT_FUNC_ESC_paralisada',
       'TP_SIT_FUNC_ESC_extinta', 'TP_SIT_FUNC_ESC_extinta_em_anos_anteriores',
       'ESCOLARIDADE_PAI_A', 'ESCOLARIDADE_PAI_B', 'ESCOLARIDADE_PAI_C',
       'ESCOLARIDADE_PAI_D', 'ESCOLARIDADE_PAI_E', 'ESCOLARIDADE_PAI_F',
       'ESCOLARIDADE_PAI_G', 'ESCOLARIDADE_PAI_H', 'ESCOLARIDADE_MAE_A',
       'ESCOLARIDADE_MAE_B', 'ESCOLARIDADE_MAE_C', 'ESCOLARIDADE_MAE_D',
       'ESCOLARIDADE_MAE_E', 'ESCOLARIDADE_MAE_F', 'ESCOLARIDADE_MAE_G',
       'ESCOLARIDADE_MAE_H', 'RENDA_MENSAL_A', 'RENDA_MENSAL_B',
       'RENDA_MENSAL_C', 'RENDA_MENSAL_D', 'RENDA_MENSAL_E', 'RENDA_MENSAL_F',
       'RENDA_MENSAL_G', 'RENDA_MENSAL_H', 'RENDA_MENSAL_I', 'RENDA_MENSAL_J',
       'RENDA_MENSAL_K', 'RENDA_MENSAL_L', 'RENDA_MENSAL_M', 'RENDA_MENSAL_N',
       'RENDA_MENSAL_O', 'RENDA_MENSAL_P', 'RENDA_MENSAL_Q', 'INTERNET_nao',
       'INTERNET_sim'],
      dtype='object')

In [24]:
df_enem

,NU_ANO,SG_UF_ESC,NO_MUNICIPIO_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_COR_RACA_nao_declarado,TP_COR_RACA_branca,...,RENDA_MENSAL_J,RENDA_MENSAL_K,RENDA_MENSAL_L,RENDA_MENSAL_M,RENDA_MENSAL_N,RENDA_MENSAL_O,RENDA_MENSAL_P,RENDA_MENSAL_Q,INTERNET_nao,INTERNET_sim
0,2019,AC,AcrelÃ¢ndia,430.226316,476.341026,480.817949,468.768421,488.717949,4,11,...,0,0,0,0,0,0,0,0,31,15
1,2019,AC,Assis Brasil,413.914286,455.791304,482.465217,484.385714,513.043478,0,3,...,0,0,0,0,0,0,0,0,16,8
2,2019,AC,BrasilÃ©ia,442.619231,482.673913,502.240217,480.357692,511.086957,2,18,...,1,1,1,0,0,1,0,0,50,64
3,2019,AC,Bujari,434.634146,465.619565,482.754348,466.512195,480.000000,2,10,...,0,0,0,0,0,0,0,0,35,14
4,2019,AC,Capixaba,432.061667,459.746875,475.045313,467.070000,545.000000,2,11,...,0,0,0,0,0,0,0,0,54,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16611,2021,TO,TocantÃ­nia,417.028571,401.836364,364.918182,419.085714,358.181818,0,0,...,0,0,0,0,0,0,0,0,6,12
16612,2021,TO,Tupirama,424.000000,491.333333,390.466667,430.600000,480.000000,0,0,...,0,0,0,0,0,0,0,0,1,3
16613,2021,TO,Tupiratins,414.233333,447.166667,458.400000,452.366667,466.666667,0,0,...,0,0,0,0,0,0,0,0,12,5
16614,2021,TO,WanderlÃ¢ndia,368.666667,459.733333,461.816667,384.316667,563.333333,1,4,...,0,0,0,0,0,0,0,0,1,8
16615,2021,TO,XambioÃ¡,443.663636,469.088636,449.822727,470.545455,564.545455,3,11,...,0,0,0,0,0,0,0,0,3,45

In [29]:
df_enem = df_enem.groupby(['SG_UF_ESC', 'NO_MUNICIPIO_ESC']).mean().reset_index()
df_enem.head()

,SG_UF_ESC,NO_MUNICIPIO_ESC,NU_ANO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_COR_RACA_nao_declarado,TP_COR_RACA_branca,...,RENDA_MENSAL_J,RENDA_MENSAL_K,RENDA_MENSAL_L,RENDA_MENSAL_M,RENDA_MENSAL_N,RENDA_MENSAL_O,RENDA_MENSAL_P,RENDA_MENSAL_Q,INTERNET_nao,INTERNET_sim
0,AC,AcrelÃ¢ndia,2020.0,435.311176,461.141083,470.409316,461.917198,486.239316,2.000000,7.666667,...,0.000000,0.000000,0.333333,0.0,0.0,0.000000,0.000000,0.0,15.000000,19.333333
1,AC,Assis Brasil,2020.0,439.815873,456.395586,486.749517,465.471905,551.115503,0.000000,3.333333,...,0.666667,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,9.333333,6.333333
2,AC,BrasilÃ©ia,2020.0,458.936902,489.074003,497.379438,493.921656,537.473430,0.666667,13.333333,...,1.000000,0.333333,0.333333,0.0,0.0,0.333333,0.333333,0.0,26.666667,46.000000
3,AC,Bujari,2020.0,444.204889,465.326363,464.269703,471.855580,473.492063,0.666667,5.000000,...,0.333333,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,16.333333,10.333333
4,AC,Capixaba,2020.0,449.565529,480.393445,482.934152,471.652963,540.187970,0.666667,6.333333,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,27.000000,16.666667

In [30]:
import json
 
with open(os.getenv('PATH_TO_RAW_DATA')+'sigla_estado.json') as json_file:
    dict_sigla = json.load(json_file)

In [31]:
df_enem['ESTADO'] = df_enem['SG_UF_ESC'].apply(lambda x: dict_sigla[x])

In [33]:
df_municipios = pd.read_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'municipios.csv')
df_municipios.head()

  regiao    estado              municipio  cod_municipio
0  Norte  RondÃ´nia  Alta Floresta D'Oeste        1100015
1  Norte  RondÃ´nia              Ariquemes        1100023
2  Norte  RondÃ´nia                 Cabixi        1100031
3  Norte  RondÃ´nia                 Cacoal        1100049
4  Norte  RondÃ´nia             Cerejeiras        1100056

In [34]:
df_meta = pd.read_csv(os.getenv('PATH_TO_RAW_DATA')+'FCT_META_TRES.csv')
df_meta

,ID_FCT_META_TRES,ANO,FK_ESTADO_CODIGO,FK_MUNICIPIO_CODIGO,INDICADOR,QT_MAT_IND,POP_ESTIMADA_IND,PP_ATENDIMENTO_IND
0,1,2014,11,1100015,3A,1077,1605,0.671028
1,2,2014,11,1100023,3A,5113,6424,0.795922
2,3,2014,11,1100031,3A,253,396,0.638889
3,4,2014,11,1100049,3A,4832,4916,0.982913
4,5,2014,11,1100056,3A,735,1066,0.689493
...,...,...,...,...,...,...,...,...
83483,83484,2021,52,5222005,3A,496,640,0.775000
83484,83485,2021,52,5222054,3A,360,390,0.923077
83485,83486,2021,52,5222203,3A,260,377,0.689655
83486,83487,2021,52,5222302,3A,286,364,0.785714
83487,83488,2021,53,5300108,3A,123542,142019,0.869898

In [35]:
df_meta = df_meta.merge(df_municipios, left_on='FK_MUNICIPIO_CODIGO', right_on='cod_municipio')

In [36]:
df_meta = df_meta[(df_meta['ANO'] == 2021) | (df_meta['ANO'] == 2020) | (df_meta['ANO'] == 2019)]

In [37]:
df_meta_enem = df_meta.merge(df_enem, left_on=['estado', 'municipio', 'ANO'], right_on=['ESTADO', 'NO_MUNICIPIO_ESC', 'NU_ANO'])
df_meta_enem.columns

/tmp/ipykernel_16202/522087653.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df_meta_enem = df_meta.merge(df_enem, left_on=['estado', 'municipio', 'ANO'], right_on=['ESTADO', 'NO_MUNICIPIO_ESC', 'NU_ANO'])

Index(['ID_FCT_META_TRES', 'ANO', 'FK_ESTADO_CODIGO', 'FK_MUNICIPIO_CODIGO',
       'INDICADOR', 'QT_MAT_IND', 'POP_ESTIMADA_IND', 'PP_ATENDIMENTO_IND',
       'regiao', 'estado', 'municipio', 'cod_municipio', 'SG_UF_ESC',
       'NO_MUNICIPIO_ESC', 'NU_ANO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'TP_COR_RACA_nao_declarado',
       'TP_COR_RACA_branca', 'TP_COR_RACA_preta', 'TP_COR_RACA_parda',
       'TP_COR_RACA_amarela', 'TP_COR_RACA_indigena',
       'TP_ESCOLA_nao_respondeu', 'TP_ESCOLA_publica', 'TP_ESCOLA_privada',
       'TP_ENSINO_ensino_regular', 'TP_ENSINO_educacao_especial',
       'TP_DEPENDENCIA_ADM_ESC_federal', 'TP_DEPENDENCIA_ADM_ESC_estadual',
       'TP_DEPENDENCIA_ADM_ESC_municipal', 'TP_DEPENDENCIA_ADM_ESC_privada',
       'TP_LOCALIZACAO_ESC_urbana', 'TP_LOCALIZACAO_ESC_rural',
       'TP_SIT_FUNC_ESC_em_atividade', 'TP_SIT_FUNC_ESC_paralisada',
       'TP_SIT_FUNC_ESC_extinta', 'TP_SIT_FUNC_ESC_extinta_em_anos_anteriores',
       'ESCOLARIDADE_PAI_A', 'ESCOLARIDADE_PAI_B', 'ESCOLARIDADE_PAI_C',
       'ESCOLARIDADE_PAI_D', 'ESCOLARIDADE_PAI_E', 'ESCOLARIDADE_PAI_F',
       'ESCOLARIDADE_PAI_G', 'ESCOLARIDADE_PAI_H', 'ESCOLARIDADE_MAE_A',
       'ESCOLARIDADE_MAE_B', 'ESCOLARIDADE_MAE_C', 'ESCOLARIDADE_MAE_D',
       'ESCOLARIDADE_MAE_E', 'ESCOLARIDADE_MAE_F', 'ESCOLARIDADE_MAE_G',
       'ESCOLARIDADE_MAE_H', 'RENDA_MENSAL_A', 'RENDA_MENSAL_B',
       'RENDA_MENSAL_C', 'RENDA_MENSAL_D', 'RENDA_MENSAL_E', 'RENDA_MENSAL_F',
       'RENDA_MENSAL_G', 'RENDA_MENSAL_H', 'RENDA_MENSAL_I', 'RENDA_MENSAL_J',
       'RENDA_MENSAL_K', 'RENDA_MENSAL_L', 'RENDA_MENSAL_M', 'RENDA_MENSAL_N',
       'RENDA_MENSAL_O', 'RENDA_MENSAL_P', 'RENDA_MENSAL_Q', 'INTERNET_nao',
       'INTERNET_sim', 'ESTADO'],
      dtype='object')

In [38]:
df_meta_enem['ENEM_NOTA'] = (df_meta_enem['NU_NOTA_CN'] + df_meta_enem['NU_NOTA_CH'] + df_meta_enem['NU_NOTA_LC'] + df_meta_enem['NU_NOTA_MT'] + df_meta_enem['NU_NOTA_REDACAO'])/5

In [40]:
df_meta_enem.replace([np.inf, -np.inf], np.nan, inplace=True)

In [41]:
df_meta_enem.dropna(subset=['ENEM_NOTA', 'PP_ATENDIMENTO_IND'], how='any', inplace=True)

In [42]:
df_meta_enem.to_csv(os.getenv('PATH_TO_PROCESSED_DATA')+'meta_enem.csv', index=False)